* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', serif;
    background-color: #0f0f0f;
    color: #f5f0e6;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 40px 20px;
    background-color: #111;
    border-bottom: 1px solid #c9a24d;
}

header h1 {
    font-size: 42px;
    color: #c9a24d;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    color: #f5f0e6;
}

nav {
    margin-top: 25px;
}

nav a {
    color: #f5f0e6;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

nav a:hover {
    color: #c9a24d;
}

.hero {
    text-align: left;
    padding: 140px 12%;
    min-height: 700px;
    background-image: 
        linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
        url("../images/acceuil/fauteuil.png");
    background-size: cover;
    background-position: 75% center;
    background-repeat: no-repeat;
}

.hero h2 {
    font-size: 38px;
    color: #ffffff;
    margin-bottom: 20px;
    max-width: 500px;

}

.hero p {
    max-width: 650px;
    margin: 0 auto 30px;
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 14px 28px;
    background-color: #c9a24d;
    color: #0f0f0f;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.btn:hover {
    background-color: #e0bd68;
}

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

section h2 {
    color: #c9a24d;
    margin-bottom: 20px;
    font-size: 30px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 12px;
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: #111;
    border-top: 1px solid #c9a24d;
    color: #aaa;
}
.logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
