* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', serif;
    background-color: #0f0f0f;
    color: #f5f0e6;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 15px 20px;
    background-color: #111;
    border-bottom: 1px solid #c9a24d;
}

header h1 {
    font-size: 42px;
    color: #c9a24d;
    margin-bottom: 10px;
}

header p {
    font-size: 28px;
    color: #f0d28a;
    font-weight: 500;
}
nav {
    margin-top: 0px;
}

nav a {
    color: #f5f0e6;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

nav a:hover {
    color: #c9a24d;
}

.hero {
    text-align: left;
    padding: 140px 12%;
    min-height: 700px;
    background-image: 
        linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
        url("../images/acceuil/fauteuil.png");
    background-size: cover;
    background-position: 75% center;
    background-repeat: no-repeat;
}

.hero h2 {
    font-size: 54px;
}

.hero p {
    max-width: 650px;
    margin: 0 auto 30px;
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 14px 28px;
    background-color: #c9a24d;
    color: #000000 !important;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #e0bd68;
}

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

section h2 {
    color: #c9a24d;
    margin-bottom: 20px;
    font-size: 30px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 12px;
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: #111;
    border-top: 1px solid #c9a24d;
    color: #aaa;
}
.logo {
    width: 160px;
    height: auto;
    margin-bottom: 10px;
}
.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.service-card {
    background-color: #151515;
    border: 1px solid #c9a24d;
    padding: 25px;
    border-radius: 8px;
}

.service-card h3 {
    color: #c9a24d;
    margin-bottom: 12px;
}

.contact {
    text-align: center;
}

.contact-info {
    margin: 25px 0;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.8;
}

@media (max-width: 900px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
}
.contact-info a {
    color: #c9a24d;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.contact a:hover {
    color: #e0bd68;
}
.about {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.about p {
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 18px;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 0;
}
